<main class="p-20" data-controller="foobar">
  <%= form_with url: "#" do |f| %>
    <div class="flex space-x-10">
      <div>
        <%= f.label :start_date, "Flatpickr" %>
        <%= f.text_field :start_date,
          id: "transition-start_date",
          class: "p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm",
          data: {
            controller: "flatpickr",
            reflex: "change->Test#start_date_changed"
          } %>
      </div>
      <div>
        <%= f.label :start_text, "Text field" %>
        <%= f.text_field :start_text,
          id: "transition-start_date",
          class: "p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm",
          data: {
            reflex: "change->Test#start_date_changed",
            reflex_dataset: "ancestors",
            reflex_serialize_form: true
            action: "change->foobar#test"
          } %>
      </div>
    </div>
  <% end %>
  <div class="mt-20">
    <div id="result">
      Reflex result will go here
    </div>
  </div>
</main>
